@import '../../config-scss/rem-calc.scss';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem-calc(5);
  background: var(--primary-color);
  .logo-h {
    img {
      margin: rem-calc(15);
      max-width: rem-calc(70);
    }
  }
  .conteiner-h1 {
    margin: auto;
    h1 {
      font-size: 1.5rem;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: var(--white);
    }
  }

}

@media (max-width: 500px) {
  h1 {
    font-size: 1.1rem !important;
  }
}
